@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Newake;
  src: url("./Newake.otf");
}

html, #root{
height:100vh;
overflow-x:hidden;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  height: 100%;

}

video {  
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.fadeInAnimation {
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.cartAnimation {
  animation: slide-in 0.3s both;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.alert-animation{
  animation: 3000ms ease-out forwards slide-up;
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  25%{
  opacity:1
  }
  75%{
  opacity:1
  }
  100% {
    opacity: 0;
  }
}
